{erl_opts, [debug_info]}.

{deps, [eredis]}.

{relx, [
  {release, {tt, "0.1.0"}, [tt,sasl,eredis]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]},
  {test, [
    {deps, [eredis]},
    {erl_opts, [debug_info, export_all, nowarn_export_all]},
    {relx, [
      {dev_mode, true},
      {include_src, true},
      {include_erts, true}
    ]},
    {ct_opts, [
      {vm_args, "./config/vm.args"},
      {sys_config, ["./config/test.config"]}
    ]}
  ]}

]}.



{cover_enabled, true}.
{cover_opts, [verbose]}.


{ct_opts, [
  {vm_args, "./config/vm.args"},
  {sys_config, ["./config/test.config"]}
]}.

