[
  {test, [
          {confRandRPS,        3000},
          {confN,              1000},
          {confRedisHost,      "127.0.0.1"},
          {confRedisPort,      6379},
          {confRedisDB,        0},
          {confQueueKey,       "randomList"},
          {confResultSetKey,   "resultSet"}
  ]}
].
